body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: sans-serif;
    background-image: url("https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png");
    background-size: cover;
    color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    text-align: center;
    font-size: 1.5;
}

.post {
    font-family: sans-serif;
    width: 35vw;
    height: 30vh;
   /* border-radius: 2rem; */
}

.create-post {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.input {
    width: 35vw;

    height: 2rem;
    border-radius: 0rem;
}


@media screen and (max-width: 634px){


}
