body {
    font-family: sans-serif;
    background-image: url("https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png");
    background-size: cover;
    color: #fafafa;
    min-height: 100vh;
}

header {
    align-content: center;
    justify-content: space-between;
    text-align: center;
}


.name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

.log-reg-btn {
    color: #fafafa;
    border-radius: 15px;
    background: #e85d04;
    text-decoration: none;
    padding: 20px;
    margin-bottom: 20px;
}

.a {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.btn {
    opacity: 1;
    font-size: 200%;
    color: #fafafa;
    /* margin: 16rem; */
    background: #d7a8ed;
    text-decoration: none;
    padding: 3rem;
}

.btns {
}

.navbar {
    background-color: #d7a8ed;
}

main {
    height: 90vh;
}

a:hover {
    color: #fafafa;
    transform: scale(1.1);
}


@media screen and (max-width: 634px){
    .a{
        margin: 20px;
        flex-direction: column;
        justify-content: space-around;
    }

}
