body {
    background-image: url("https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png");
    background-size: cover;
    color: #fafafa;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: sans-serif;
}


#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #d7a8ed;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.text-info {
    color: #fafafa!important;
}

.text-right {
    margin-top: 0px!important;
}

.btn-info {
    border-color: #9b41a3!important;
    background-color: #9b41a3!important;
}


